<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionBundlIdentifier</key>
			<string>com.apple.automator.runShellScript</string>
			<key>ActionBundleURL</key>
			<string>file:///System/Library/Automator/RunShellScript.action</string>
			<key>ActionName</key>
			<string>Run Shell Script</string>
			<key>ActionProperties</key>
			<dict>
				<key>COMMAND_STRING</key>
				<string>
cd ~/vault/04-tools/meta-nuke
python3 -m metanuke.cli --no-banner "$f"</string>
				<key>inputMethod</key>
				<integer>1</integer>
				<key>shell</key>
				<integer>0</integer>
				<key>source</key>
				<string>
cd ~/vault/04-tools/meta-nuke
python3 -m metanuke.cli --no-banner "$f"</string>
			</dict>
			<key>ActionVersion</key>
			<string>2.0.4</string>
			<key>MacroActionBundleIdentifier</key>
			<string>com.apple.automator.runShellScript</string>
			<key>MacroActionMetaData</key>
			<dict>
				<key>warningShownForResourceInitialization</key>
				<true/>
			</dict>
			<key>MacroActionType</key>
			<string>Runner</string>
			<key>MacroActionUUID</key>
			<string>3A8D0A91-70A7-44FA-80C9-8D282FD9B3B7</string>
		</dict>
	</array>
	<key>ApplicationConstraints</key>
	<array>
		<string>com.apple.finder</string>
	</array>
	<key>UTI</key>
	<array>
		<string>public.image</string>
		<string>public.folder</string>
	</array>
</dict>
</plist>
